a {
    color: blue;
    text-decoration: none;
}
a:hover {
    color: green;
    text-decoration: underline;
}
a:visited {
    color: purple;
}
a:active {
    color: red;
}
.linki a {
    color: orange;
}
.linki a:hover {
    color: teal;
}
.linki a:visited {
    color: magenta;
}
.linki a:active {
    color: brown;
}